<footer>
    <h4>&copy; Coding Ninjas. All Rights Reserved</h4>
    <div id="footer-links">
        <a href="/">
            <h4>Home</h4>
        </a>
        <a href="/users/profile">
            <h4>Profile</h4>
        </a>
        
    </div>
    
</footer>